{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur Knoledge-Learning</h1>
    <div class="home">
        <div>
            <p>
            Découvrez une plateforme de formation en ligne pensée pour vous accompagner dans votre montée en compétences. <br>
            Que vous soyer passionné de musique, curieux de découvrir le développement web, amateur de jardinage ou 
            désireux d'apprendre l'art culinaire. <br>
            Nos cursus variés et accessibles vous permettront d'apprendre à votre rythme. <br>
            Validez vos acquis et obtenez votre certification officielle Knowledge Learning !
            </p>
            <button><a href="{{ path('app_formations') }}">Consulter les formations</a></button>
        </div>
    </div>
{% endblock %}
